
useDynLib(PopGenome)

exportClass(GENOME)
exportMethods(neutrality.stats)
exportMethods(linkage.stats)
exportMethods(detail.stats)
exportMethods(F_ST.stats)
exportMethods(recomb.stats)
exportMethods(set.populations)
exportMethods(sliding.window.transform)
exportMethods(show.slots)
exportMethods(get.status)
exportMethods(MKT)
exportMethods(splitting.data)
exportMethods(set.ref.positions)
exportMethods(mult.linkage.stats)
exportMethods(sweeps.stats)
exportMethods(set.synnonsyn)
exportMethods(Achaz.stats)

exportMethods(F_ST.stats.2)
exportMethods(get.sum.data)
exportMethods(get.neutrality)
exportMethods(get.linkage)
exportMethods(get.recomb)
exportMethods(get.F_ST)
exportMethods(get.diversity)
exportMethods(get.MKT)
exportMethods(get.detail)
exportMethods(getBayes)
exportMethods(get.sweeps)
exportMethods(region.as.fasta)

export(create.PopGenome.method)
export(concatenate_to_whole_genome)
export(get_gff_info)
export(popGetBial)
export(BayeScanR)
export(readData)
export(read.big.fasta)
export(readHapMap)
export(readSNP)
export(readVCF)
export(save.session)
export(load.session)

export(MS)
