exportClass(GENOME)
exportMethods(neutrality.stats)
exportMethods(linkage.stats)
exportMethods(detail.stats)
exportMethods(F_ST.stats)
exportMethods(set.populations)
exportMethods(sliding.window.transform)
exportMethods(show.slots)
exportMethods(get.status)
exportMethods(MKT)

exportMethods(get.sum.data)
exportMethods(get.neutrality)
exportMethods(get.linkage)
exportMethods(get.F_ST)
exportMethods(get.diversity)
exportMethods(get.MKT)
exportMethods(get.detail)

export(readData)
export(MS)
